.like{
	cursor:pointer;
	width:128px;
	height:128px;
	margin:10px auto 40px;
	position:relative;
}
.like:hover.active, .like{
	background: url('../images/like.png') no-repeat;
}
.like.active, .like:hover{
	background: url('../images/like_active.png') no-repeat;
}
.like .counter{
	border: 5px solid #333333;
    bottom: -37px;
    color: #333333;
    font-size: 31px;
    left: 27px;
    position: absolute;
    text-align: center;
    width: 64px;
}
